body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header {
    z-index: 10;
}
.nav-wrapper>.container {
    height: inherit;
}

.brand-logo {
    height: inherit;
}

#logo-block {
    height: inherit;
}

#logo {
    object-fit: contain;
    height: inherit;
    padding-bottom: 5px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

.collapsible-header.red.lighten-3 {
    border-color: transparent;
}

.tabs {
    z-index: 0;
}

.loader {
    position: absolute;
    margin: auto;
    top: 50vh;
    bottom: 50vh;
    left: 0;
    right: 0;
}