body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header {
    z-index: 10;
}

#header-image {
    height: 300px;
    width: 100%;
    position: absolute;
    left: 0;
    margin-bottom: 300px;
    box-shadow: 2px 2px 5px black;
}

#header-image>#cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}

#header-image>img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#header-image>h1 {
    z-index: 2;
    font-size: 3rem;
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    top: 90px;
    text-shadow: 2px 2px 5px black;
}

#header-image>.link {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 210px;
}
#header-image>.link>a:hover {
    transform: translateY(-3px);
}

.content {
    margin-top: 310px;
}

.nav-wrapper>.container {
    height: inherit;
}

.brand-logo {
    height: inherit;
}

#logo-block {
    height: inherit;
}

#logo {
    object-fit: contain;
    height: inherit;
    padding-bottom: 5px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

.collapsible-header.red.lighten-3 {
    border-color: transparent;
}

.tabs {
    z-index: 0;
}

.commentAuthor {
    font-weight: bold;
}

.loader {
    position: absolute;
    margin: auto;
    top: 50vh;
    bottom: 50vh;
    left: 0;
    right: 0;
}

footer li {
    margin-top: 10px;
}